$bg_color: hsl(0, 0%, 100%);
$btn_color: hsl(214, 70%, 43%);
$btn_hover_color: hsl(217, 76%, 58%);
$btn_text_color: hsl(0, 0%, 100%);
$shadow_color: hsl(0, 0%, 0%);
$text_color: hsl(0, 0%, 0%);
$link_color: #000;
$tr_time: 0.3s;
